#left-ear,
#right-ear {
  transition: all .5s linear;
}

#bear:hover #left-ear,
#bear:hover #right-ear {
  transform: translateY(-10px);
}

#left-eye,
#right-eye {
  animation: eyeMove 3s linear infinite alternate
}

@keyframes eyeMove {

  0% {
    transform: translateX(7.5px);
  }

  100% {
    transform: translateX(-7.5px);
  }
}
